<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Header</div>
    <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-success">Footer</div>
</div>

<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td>
            <ul>
                <li th:each="item : ${order.items}">
                    <span th:text="${item.food.name} + ' - ' + ${item.quantity}"></span>
                </li>
            </ul>
        </td>

        <div th:if="${#authorization.expression('hasRole(''ROLE_DONOR'')')}">
            <a th:href="@{/order/order.id}">Edit</a>
        </div>

    </tr>
    </tbody>
</table>
</body>
</html>
