<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedbacks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{header/header :: header}"></header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4" th:each="feedback : ${feedbacks}">
                <div class="card p-3">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <p th:text="${feedback.comment}"></p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-muted" th:text="'by ' + ${feedback.name}">
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{header/header :: js-links}"></div>
</body>
</html>