<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Food Waste Management System</title>
    <meta aria-description="A sustainable web-based solution for Food waste management.">
</head>
<body>
<a th:href="@{/register}">Create an Account</a>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <a th:href="@{/profile}">Profile</a>
</div>

<!-- Add login and logout links -->
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>