<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food</title>
</head>
<body>
    <div>
        <h1>Add Food</h1>
        <form th:action="@{/foods/add}" th:object="${food}" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" th:field="*{name}" required><br>

            <label for="description">Description:</label><br>
            <textarea id="description" name="description" th:field="*{description}" required></textarea><br>

            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price" min="0" step="0.00" th:field="*{price}" required><br>

            <label for="quantity">Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" min="0" th:field="*{quantity}" required><br>

            <input type="submit" value="Add Food">
        </form>
    </div>
</body>
</html>