<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header/header :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{header/header :: header}"></div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:each="food : ${foods}">
            <a th:href="@{/food/{title}(title=${food.name})}">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body">
                            <h3 class="mb-0" th:text="${food.name}"></h3>
                            <p class="card-text" th:text="${food.description}"></p>
                            <p class="card-text"><strong th:text="${food.price}"></strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form th:action="@{/cart/addToCart/{foodId}(foodId=${food.id})}" method="post">
                                        <input type="hidden" name="foodId" th:value="${food.id}">
                                        <p class="card-text">Quantity: <input type="number" name="quantity" value="1"
                                                                              min="1"></p>
                                        <button type="button" class="btn btn-success">Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="~{header/header :: js-links}"></div>
</body>
</html>